                              :root {
                                 --blue: #2C2546;
                                 --dark-blue: #1B1535;
                                 --white: #fff;
                             }
                             
                             * {
                                 margin: 0;
                                 padding: 0;
                                 text-decoration: none;
                                 list-style-type: none;
                                 box-sizing: border-box;
                                 font-family: 'Tahoma';
                             }
                             
                             body {
                                 background-color: var(--dark-blue);
                                 color: var(--white);
                             }
                             
                             header {
                                 align-items: center;
                                 background-color: var(--blue);
                                 position: fixed;
                                 width: 100%;
                                 top: 0;
                                 padding: 1%;
                                 font-weight: bold;
                                 font-size: 15pt;
                                 justify-content: center;
                                 text-align: center;
                                 top: 0;
                             }
                             
                             .title {
                                 color: var(--light-blue);
                                 border-bottom: 1px solid var(--white);
                                 font-size: 15pt;
                             }
                             /* .input-search {
                                width: 30%;
                                border: none;
                                border-radius: 0 0 0 10px;
                                padding: 2px;
                            } */
                             
                             .submit {
                                 margin-left: -5px;
                                 border: none;
                                 border-radius: 0 10px 0 0;
                                 padding: 2px;
                                 background-color: #87cefa;
                                 color: var(--blue);
                                 width: 5%;
                                 font-weight: bold;
                             }
                             
                             nav {
                                 margin-top: 15px;
                             }
                             
                             nav ul {
                                 display: flex;
                                 gap: 20px;
                                 justify-content: center;
                             }
                             
                             nav ul li a {
                                 color: #87cefa;
                             }
                             
                             nav ul li a:hover {
                                 border-bottom: 3px solid var(--white);
                             }
                             
                             .slider {
                                 margin-top: 10%;
                                 display: block;
                                 margin-left: auto !important;
                                 margin-right: auto !important;
                                 width: 65%;
                             }
                             
                             .slider h4 {
                                 margin-top: 20%;
                             }
                             
                             .slides {
                                 display: flex;
                                 width: 50rem;
                                 overflow: hidden;
                             }
                             
                             .slides img {
                                 border-radius: 10px;
                             }
                             
                             .slide {
                                 width: 50rem;
                                 transition: .5s;
                             }
                             
                             .choose_1:checked~.slides>.s1 {
                                 margin-left: -0rem;
                             }
                             
                             .choose_2:checked~.slides>.s1 {
                                 margin-left: -50rem;
                             }
                             
                             .tentang {
                                 overflow: hidden;
                                 display: grid;
                                 justify-content: center;
                                 margin-top: 10%;
                                 font-size: 15pt;
                             }
                             
                             .card {
                                 background-color: var(--blue);
                                 padding: 5%;
                                 border-radius: 10px;
                                 box-shadow: 20px 20px black;
                             }
                             
                             .card h1 {
                                 text-align: center;
                             }
                             
                             html {
                                 scroll-behavior: smooth;
                             }
                             
                             footer {
                                 display: grid;
                                 justify-content: center;
                                 background-color: var(--blue);
                                 margin-top: 10%;
                                 padding: 2%;
                             }
                             
                             .sosmed img {
                                 width: 50px;
                             }
                             
                             #copyright {
                                 text-align: center;
                                 padding: 10px;
                             }
                             
                             @media screen and (max-width: 600px) {
                                 nav ul li a {
                                     font-size: 11pt;
                                 }
                                 .slider {
                                     display: none;
                                 }
                                 .judul-p {
                                     padding-top: 6rem;
                                     margin-left: 0;
                                     margin-top: 1rem;
                                 }
                                 .tentang {
                                     width: 90%;
                                     padding-left: 2rem;
                                     font-size: 13pt;
                                 }
                                 .sosmed {
                                     font-size: 10pt;
                                     padding-left: 6rem;
                                 }
                                 .sosmed img {
                                     width: 50%;
                                 }
                             }
                             
                             @media screen and (max-width: 700px) {
                                 nav ul li a {
                                     font-size: 11pt;
                                 }
                                 .slider {
                                     display: none;
                                 }
                                 .judul-p {
                                     padding-top: 6rem;
                                     margin-left: 0;
                                     margin-top: 1rem;
                                 }
                                 .tentang {
                                     width: 90%;
                                     padding-left: 2rem;
                                     font-size: 13pt;
                                 }
                                 .sosmed {
                                     font-size: 10pt;
                                     padding-left: 6rem;
                                 }
                                 .sosmed img {
                                     width: 50%;
                                 }
                             }
                             
                             @media screen and (max-width: 1199px) {
                                 nav ul li a {
                                     font-size: 11pt;
                                 }
                                 .slider {
                                     display: none;
                                 }
                                 .judul-p {
                                     padding-top: 6rem;
                                     margin-left: 0;
                                     margin-top: 1rem;
                                 }
                                 /* .tentang {
                                 width: 90%;
                                 padding-left: 2rem;
                                 font-size: 13pt;
                             }
                             .sosmed {
                                 font-size: 10pt;
                                 padding-left: 6rem;
                             }
                             .sosmed img {
                                 width: 50%;
                             } */
                             }